.container {
    
}
.income{
  
    text-align: center;
    
}
.bal-ex{
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    
}
.balance{
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
     margin-right: 50px;
     color: green;
     background-color: white;
     padding: 20px;


}
.expense{
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    margin-left: 50px;
    color: red;
    background-color: white;
    padding: 20px;
}